@{
    ViewData["Title"] = "Bill management";
}
@section Scripts{
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/app/controllers/bill/index.js" asp-append-version="true"></script>
    <script>
        var billObj = new BillController();
        billObj.initialize();
    </script>
}
@section Styles{
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
}
<input type="hidden" id="hid-category-id" value="0" />
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Bill management</h3>
        </div>

        <div class="title_right">

            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <input type="text" id="txtFromDate" class="form-control" placeholder="From Date">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <input type="text" id="txtToDate" class="form-control" placeholder="To date">
            </div>
            <div class="col-md-2 col-sm-3 col-xs-12 form-group">
                <input type="text" id="txtSearchKeyword" class="form-control" placeholder="Tìm kiếm...">

            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 form-group">
                <button class="btn btn-default" id="btn-search" type="button">Search!</button>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 form-group">
                <button class="btn btn-success" id="btn-create" type="button">Create</button>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table m-table m-table--head-separator-primary">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Customer name</th>
                                    <th>Payment method</th>
                                    <th>Order date</th>
                                    <th>Status</th>
                                    <th>Detail</th>
                                </tr>
                            </thead>
                            <tbody id="tbl-content"></tbody>
                        </table>
                    </div>
                    @await Component.InvokeAsync("Paging")
                </div>
            </div>
        </div>
    </div>


    <script id="table-template" type="x-tmpl-mustache">
        <tr>
            <td>{{Id}}</td>
            <td>{{CustomerName}}</td>
            <td>{{{PaymentMethod}}}</td>
            <td>{{{DateCreated}}}</td>
            <td>{{{BillStatus}}}</td>
            <td><a href="#" data-id="{{Id}}" class="btn-view"><i class="fa fa-eye"></i></a></td>
        </tr>
    </script>
</div>
@Html.Partial("_DetailModal.cshtml")