<div class="row">
    <div class="col-sm-5">
        <div class="m-datatable__pager-info" id="datatable-checkbox_info" role="status" aria-live="polite">
            <select id="ddl-show-page">
                <option value="10" selected="selected">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
            </select>
            <span class="item-per-page">
                records/page.
            </span>
            Total record: <strong id="lbl-total-records"></strong>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="m-datatable__pager m-datatable--paging-loaded" id="datatable-checkbox_paginate">
            <ul class="m-datatable__pager-nav" id="paginationUL"></ul>
        </div>
    </div>
</div>